body {
 
  background: linear-gradient(to right top, #0087fe, #1b81fa, #297bf5, #3475f1, #3d6fec);
  padding: 30px;
}

.container {
    font-family: "Roboto", sans-serif;
  color: #0e0e0e;
  background: linear-gradient(to bottom, #00ccff 0%, #3399ff 100%);;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 60px;
  border-radius: 10px;
}

.date {
     text-align: center;
       
}

.mainWeather {
    text-align: left;
}


.mainTemp {
    text-align: center;
}



.celsius-link {
    color: #ffffff;
}

.weather-app {
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
}

.emoji {
  text-align: center;
}
form {
  text-align: left;
  padding: 3px 2px;
  margin: 0 auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: linear-gradient(to right top, #0087fe, #1b81fa, #297bf5, #3475f1, #3d6fec);
}
h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: linear-gradient(to right top, #0087fe, #1b81fa, #297bf5, #3475f1, #3d6fec);
}
h5 {
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 0 auto;
  text-align: center;
}

h4 {
    color: #ffffff;
  font-weight: 500;
  padding: 0 auto;
  text-align: center;
}

.weather-temperature {
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: 0 auto;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
}

.city {
  color: aqua;
  font-weight: 700;
}

.row {
  font-weight: bold;
}
.card {
  padding: 0 auto;
  background-color: #3c3ccd;
  border-radius: 10px;
}

.card-title {
  font-family: "Roboto", sans-serif;
}

.card-body {
    background-color:#4134f1;
  text-align: center;
  padding: -5px;
font-weight: 300;

  background-color: linear-gradient(to right top, #0087fe, #1b81fa, #297bf5, #3475f1, #3d6fec);
}

.btn btn-light {
  text-align: right;
}

.element {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}